beautifulsoup4>=4.13.4
lxml>=6.0.0
requests>=2.32.4
MechanicalSoup>=1.4.0
python-dateutil>=2.9.0.post0
PyYAML>=6.0.2
setuptools>=80.9.0
build==1.2.2.post1

###
certifi>=2025.6.15
charset-normalizer>=3.4.2
urllib3>=2.5.0
